/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --background-color: #f8f9fa;
    --text-color: #121212;
    --card-bg: #ffffff;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #121212;
      --text-color: #f8f9fa;
      --card-bg: #1e1e1e;
    }
  }
  